[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
waitress = "*"
cachetools = "*"
flask-cors = {editable = true,git = "https://github.com/formsort/flask-cors.git",ref = "3.0.8-fn-v2"}

[requires]
python_version = "3.8"
